extends ../layout/default.pug
include ../mixins/product-item.pug
block main 
  .section-contact
    .container
      .inner-wrap
        img(src=currentNew.avatar?currentNew.avatar:"" , alt=currentNew.name) 
        h2 #{currentNew.name}
        p !{currentNew.content}