extends ../layouts/default.pug
block main
  h1.box-title Tạo nhóm quyền
  - if(permissions.includes("role-create"))
    .section-8
      form#setting-role-create-form
        .inner-group
          label(class="inner-label" for="name") Tên nhóm quyền
          input(type="text" id="name" name="name")
        .inner-group
          label(class="inner-label" for="description") Mô tả ngắn
          input(type="text" id="description" name="description")
        .inner-group
          label(class="inner-label") Phân quyền
          .inner-checkbox-list
            each item in permissionList
              .inner-checkbox-item
                input(type="checkbox" name="permissions" value=item.value)
                label #{item.lable}
        .inner-button.inner-two-col
          button Tạo mới
      .inner-back
        a(href=`/${pathAdmin}/setting/role/list`) Quay lại danh sách
  - else
    script.
      Swal.fire({
        icon: 'error',
        title: 'Lỗi truy cập!',
        text: 'Bạn không có đủ thẩm quyền vào trang này!',
        timer: 3000,
        showConfirmButton: false,
        willClose: () => {
          window.location.href = `/${pathAdmin}/dashboard`;
        }
      });